@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500&family=Kanit:ital@1&display=swap");

:root {
  /* Color */
  --main-color: rgba(5, 6, 54, 1);
  --secondary-color: rgb(255, 237, 237);
  --third-color: linear-gradient(
    0deg,
    rgb(16, 15, 15) 0%,
    rgba(5, 6, 54, 1) 100%
  );
  --btn: rgba(5, 6, 54, 1);

  /* Font */
  --main-font: "Kanit", cursive;
  --secondary-font: "Jost", sans-serif;
  --border: 0.1rem solid rgb(13, 14, 112);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--secondary-color) r;
  border-radius: 5rem;
}

body {
  background: var(--third-color);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: var(--secondary-color);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  font-family: var(--main-font);
}

.heading span {
  color: transparent;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.5px;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: var(--secondary-color);
  background: var(--btn);
  cursor: pointer;
  border-radius: 30px;
  font-family: var(--secondary-font);
  border: 1px solid var(--secondary-color);
}

.btn:hover {
  background-color: transparent;
  border: var(--border);
}

.header {
  /* Glass effect */
  background: rgba(255, 255, 255, 0);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.22);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid var(--secondary-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 30px;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--third-color);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/bg-home.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 7rem;
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--third-color);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 30px 0 30px 0;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: lighter;
  font-family: var(--main-font);
}

.about .row .content p {
  font-size: 1.6rem;
  color: var(--secondary-color);
  padding: 1rem 0;
  line-height: 1.8;
  font-family: var(--secondary-font);
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border-radius: 20px;
  border: var(--border);
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--main-font);
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 0.5rem 0;
  font-family: var(--secondary-font);
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: var(--third-color);
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--secondary-color);
  padding: 2rem 0;
  font-family: var(--secondary-font);
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
  border-radius: 0 0 30px 30px;
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--secondary-color);
}

.blogs .box-container .box .content .title:hover {
  color: var(--secondary-color);
}

.blogs .box-container .box .content span {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  line-height: 1.8;
  color: rgb(118, 118, 118);
  padding: 1rem 0;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  /* Glass effect */
  background: rgba(255, 255, 255, 0);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(117, 111, 111, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: var(--border);
  border-radius: 20px;
}

.contact .row form .inputBox span {
  color: var(--secondary-color);
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: var(--secondary-color);
  text-transform: none;
  background: none;
  font-family: var(--secondary-font);
}

.footer {
  background: var(--third-color);
  text-align: center;
  border-radius: 50px 50px 0 0;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--secondary-color);
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  font-family: var(--secondary-font);
  padding: 0.7rem 2rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--secondary-color);
  color: var(--main-color);
  border-radius: 0 0 25px 25px;
}

.footer .credit {
  border-top: 2px solid var(--secondary-color);
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: lighter;
  padding: 1rem;
  font-family: var(--secondary-font);
}

.footer .credit a {
  color: rgb(64, 60, 140);
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--third-color);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }
  .header .navbar a:hover {
    border: 0.1rem solid var(--secondary-color);
    padding-bottom: 2rem;
    border-radius: 50px;
  }

  .header .navbar a {
    width: 25%;
    display: block;
    margin: 1.5rem auto;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
